﻿/*Created with Adobe RoboHelp 9.*/
body {
	font-family: Arial;
	background-color: #ffffff;
}
caption {
	font-size: 110%;
	font-family: Arial;
	padding: 5px;
	font-weight: bold;
}
h1 {
	font-weight: bold;
	font-size: 12.0pt;
	font-family: Verdana;
	margin-left: 25px;
	margin-top: 0pt;
	color: #a3a3ad;
	x-next-class: ;
	x-next-type: p;
}
h2 {
	font-family: Arial;
	margin-top: 0pt;
	margin-bottom: 14pt;
	font-weight: bold;
	font-size: 14pt;
	color: Transparent;
	x-next-class: ;
	x-next-type: p;
	margin-left: 45px;
}
h3 {
	font-weight: bold;
	margin-left: 25px;
	font-size: 12pt;
	x-next-class: ;
	x-next-type: p;
	margin-top: 0pt;
}
h4 {
	font-weight: bold;
	font-size: 12.0pt;
}
h5 {
	font-weight: bold;
	font-size: 10.0pt;
}
h6 {
	font-weight: bold;
	font-size: 8.0pt;
}
p {
	font-size: 12.0pt;
	font-family: Arial;
	margin-right: 25px;
	margin-left: 25px;
}
a.expandspot {
	color: #008000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}
span.expandtext {
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}
a.dropspot {
	cursor: hand;
	color: #008000;
	font-style: italic;
	text-decoration: none;
}
a.glossterm {
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}
span.glosstext {
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}
p.Body {
	margin-top: 0pt;
	margin-bottom: 14pt;
	font-family: Arial;
	font-size: 10.5pt;
}
ol,
ul {
	margin-top: 0px;
	margin-bottom: 0px;
}
li.BulletedList {
	list-style: disc;
	font-family: Arial;
	margin-left: 20px;
	list-style-position: outside;
	margin-top: 7pt;
}
span.Filename {
	font-family: "Courier New";
}
span.ScreenAttribute {
	font-weight: bold;
}
span.Pig {
	font-style: italic;
	font-weight: bold;
}
img.BodyImage {
	margin-left: 10px;
	margin-top: 12pt;
	margin-bottom: 5pt;
}
rh-list.BulletedMultiList {
	x-lvl-3-type: lower-roman;
	x-lvl-3-format: "<x>&c";
	x-lvl-3-margin: 40px;
	x-lvl-4-type: decimal;
	x-lvl-4-format: "&o<x>&c";
	x-lvl-4-margin: 60px;
	x-lvl-5-format: "&o<x>&c";
	x-lvl-5-margin: 80px;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "&o<x>&c";
	x-lvl-6-margin: 100px;
	x-lvl-8-type: lower-alpha;
	x-lvl-8-margin: 140px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-margin: 120px;
	x-lvl-9-type: lower-roman;
	x-lvl-9-margin: 160px;
	x-lvl-1-pfx-class: rls-1-Style1;
	x-lvl-2-pfx-class: rls-2-BulletedMultiList;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-list-style-position: outside;
	x-lvl-1-list-style-position: outside;
	x-lvl-1-type: roundBullet;
	x-lvl-1-margin: 50px;
	x-lvl-1-text-indent: -20px;
	x-lvl-1-p-class: Body;
	x-lvl-1-p-tag: p;
	x-level-count: 9;
	x-lvl-2-type: squareBullet;
	x-lvl-2-margin: 80px;
	x-lvl-2-text-indent: -20px;
	x-lvl-2-p-class: Body;
	x-lvl-2-p-tag: p;
}
span.rls-1-Style1 {
	font-family: Arial;
	font-size: 12pt;
}
span.rls-2-BulletedMultiList {
	font-family: Arial;
	font-size: 12pt;
}
rh-seq.roundBullet {
	x-count: 1;
	x-1: ●;
}
rh-seq.squareBullet {
	x-count: 1;
	x-1: ▪;
}
span.rls-1-BulletedMultiListwithExplanation {
	font-family: Arial;
	font-size: 12pt;
}
span.rls-2-BulletedMultiListwithExplanation {
	font-family: Arial;
	font-size: 12pt;
}
rh-list.BulletedMultiListwithExplanation {
	x-lvl-3-type: lower-roman;
	x-lvl-3-format: "<x>&c";
	x-lvl-3-margin: 40px;
	x-lvl-4-type: decimal;
	x-lvl-4-format: "&o<x>&c";
	x-lvl-4-margin: 60px;
	x-lvl-5-format: "&o<x>&c";
	x-lvl-5-margin: 80px;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "&o<x>&c";
	x-lvl-6-margin: 100px;
	x-lvl-8-type: lower-alpha;
	x-lvl-8-margin: 140px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-margin: 120px;
	x-lvl-9-type: lower-roman;
	x-lvl-9-margin: 160px;
	x-lvl-1-pfx-class: rls-1-Style1;
	x-lvl-2-pfx-class: rls-2-BulletedMultiList;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-list-style-position: outside;
	x-lvl-1-list-style-position: outside;
	x-lvl-1-type: roundBullet;
	x-lvl-1-margin: 50px;
	x-lvl-1-text-indent: -20px;
	x-lvl-1-p-class: Body;
	x-lvl-1-p-tag: p;
	x-lvl-2-type: noBullet;
	x-level-count: 9;
	x-lvl-2-margin: 50px;
	x-lvl-2-text-indent: -20px;
	x-lvl-2-p-class: Body;
	x-lvl-2-p-tag: p;
}
rh-seq.noBullet {
	x-count: 1;
	x-1: ​;
}
table.BodyTable {
	text-align: Left;
	x-border-spacing: 1px;
	margin-bottom: 5pt;
	margin-left: 30pt;
	margin-top: 12pt;
}
span.DocumentName {
	font-style: italic;
}
p.Question {
	font-weight: bold;
	font-size: 14.0pt;
	margin-left: 25px;
	x-next-class: ;
	x-next-type: p;
	margin-top: 30pt;
}
p.Answer {
	font-weight: bold;
	font-size: 14.0pt;
	x-next-class: ;
	x-next-type: p;
	margin-left: 25px;
}
table.ChartExampleTable {
}
p.TableBody {
	margin-bottom: 0pt;
	margin-left: 0;
	margin-top: 0;
}
span.Attribute {
	font-family: Verdana;
	font-size: 14pt;
}
table.TopRow {
	x-1st-row: 1;
	x-1st-row-name: t1st;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	x-border-spacing: 0px;
	margin-left: 25px;
	border-left-style: Solid;
	border-left-color: #000000;
	border-right-style: Solid;
	border-right-color: #000000;
	border-top-style: Solid;
	border-top-color: #000000;
	border-bottom-style: Solid;
	border-bottom-color: #000000;
	margin-top: 12px;
	margin-bottom: 12px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
}
table.TopRow tr.t1st td {
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	font-family: Arial;
	font-size: 10pt;
	background-color: #c0c0c0;
	font-weight: bold;
	text-align: Center;
}
table.TopRow tr.t1Row td {
	font-family: Arial;
	font-size: 10pt;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}
table.TopRow tr.t2Row td {
	font-family: Arial;
	font-size: 10pt;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}
table.TopRow td {
	padding-left: 3;
	padding-right: 3;
	padding-top: 3;
	padding-bottom: 3;
}
p.CellBody {
	margin-left: 0in;
	margin-right: 0px;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
p.Numlist {
	font-size: 11.5pt;
	list-style: rh-list;
	x-list-class: rl-p-Numlist;
	x-list-level: 1;
	margin-bottom: 0pt;
	margin-top: 6pt;
}
rh-list.rl-p-Numlist {
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: decimal;
}
p.Body1 {
	margin-top: 0pt;
	margin-left: 45px;
	font-size: 10.5pt;
}
