<!DOCTYPE HTML>
<html>
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, user-scalable=yes" />
<meta name="generator" content="Adobe RoboHelp 12" />
<title>Altair Panopticon BI Online Help</title>

<link rel="StyleSheet" href="template/carriots_analytics/layout.css" type="text/css" />

<script type="text/javascript" src="template/scripts/rh.min.js"></script>
<script type="text/javascript" src="template/scripts/common.min.js"></script>
<script type="text/javascript" src="template/scripts/layout.min.js"></script>
<script type="text/javascript" src="template/scripts/constants.js"></script>
<script type="text/javascript" src="template/scripts/projectdata.js"></script>
<script type="text/javascript" src="template/scripts/utils.js"></script>
<script type="text/javascript" src="template/scripts/mhutils.js"></script>
<script type="text/javascript" src="template/scripts/mhlang.js"></script>
<script type="text/javascript" src="template/scripts/mhver.js"></script>
<script type="text/javascript" src="template/scripts/settings.js"></script>
<script type="text/javascript" src="template/scripts/XmlJsReader.js"></script>
<script type="text/javascript" src="template/scripts/loadscreen.js"></script>
<script type="text/javascript" src="template/scripts/loadcsh.js"></script>
<script type="text/javascript" src="template/scripts/loadparentdata.js"></script>
<script type="text/javascript" src="template/scripts/loadprojdata.js"></script>
<script type="text/javascript" src="template/scripts/showhidecontrols.js"></script>
<script type="text/javascript" src="template/scripts/pageloader.js"></script>
 <link rel="stylesheet" type="text/css" href="template/styles/widgets.min.css">
<script type="text/javascript" src="template/scripts/indextree.js"></script>
<script type="text/javascript" src="template/scripts/indextreeloader.js"></script>
<script type="text/javascript" src="template/scripts/glossarylist.js"></script>
<script type="text/javascript" src="template/scripts/glossarylistloader.js"></script>
 <link rel="stylesheet" type="text/css" href="template/styles/layoutfix.min.css">
 <link rel="stylesheet" type="text/css" href="template/styles/layout.min.css">
<script type="text/javascript" src="template/scripts/mhfhost.js"></script>
<script type="text/javascript" src="template/scripts/search.js"></script>
<script type="text/javascript" >
gRootRelPath = ".";
gCommonRootRelPath = ".";
</script>
<script type="text/javascript" >
gTopicFrameName = "rh_default_topic_frame_name";
gDefaultTopic = "#index_1.html";
</script>
<script type="text/javascript" >
gGloTermHtml = "<span  class=\"wGloTermText\">{%LINK_NAME%}</span>";
	gGloDefHtml = "<span  class=\"wGloDefinitionText\">{%LINK_NAME%}</span>";
	gGloCategoryHtml = "<span  class=\"wGloAlphabetText\">{%LINK_NAME%}</span>";
</script>
<script type="text/javascript" >
gIdxKWHtml = "<span  class=\"wIdxKeywordText\">{%LINK_NAME%}</span>";
	gIdxLinkHtml = "<span  class=\"wIdxLinkText\">{%LINK_NAME%}</span>";
	gIdxCategoryHtml = "<span  class=\"wIdxAlphabetText\">{%LINK_NAME%}</span>";
</script>
</head>

<body class="hide-children loading" data-rhwidget="Basic" data-class="media-desktop: KEY_SCREEN_DESKTOP; media-landscape: KEY_SCREEN_TABLET; media-mobile: KEY_SCREEN_PHONE; ios: KEY_SCREEN_IOS" data-controller="ModernLayoutController: mc; JsLoadingController" data-attr="dir:KEY_DIR">
<script type="text/javascript" src="./ehlpdhtm.js"></script>



<div class="header" data-class="mobile-header-visible: @.l.mobile_header_visible">
	<div class="logo" data-attr="title:@KEY_LNG.HomeButton;href:rh.consts('DEFAULT_TOPIC')" data-click="!(@KEY_SCREEN_DESKTOP || @KEY_SCREEN_TABLET) && @KEY_ACTIVE_TAB(null)">
		&nbsp;
	</div>
	<div class="title">
		<span>Altair Panopticon BI Online Help</span>
	</div>
	<div class="brs_next" data-attr="title:@KEY_LNG.Next"><a id="browseSeqNextLandscape" class="wBSNextButton" data-rhwidget="Basic" data-attr="href:.l.brsNext" data-css="visibility: @.l.brsNext?'visible':'hidden'">&nbsp;</a>
</div>
	<div class="brs_previous" data-attr="title:@KEY_LNG.Prev"><a id="browseSeqBackLandscape" class="wBSBackButton" data-rhwidget="Basic" data-attr="href:.l.brsBack" data-css="visibility: @.l.brsBack?'visible':'hidden'">&nbsp;</a>
</div>
</div>
<!-- Extra mobile header with special functions -->
<div class="mobilespecialfunctions" data-class="sidebar-opened: $mc.isSidebarTab(@KEY_ACTIVE_TAB); mobile-header-visible: @.l.mobile_header_visible; searchpage-mode: @KEY_ACTIVE_TAB == 'fts'">
	<a class="menubutton" data-attr="href: '#'; title:@KEY_LNG.NavTip;" data-click="$mc.toggleSideBar()" data-if="@.l.mobile_menu_enabled === true"></a> 
	<a class="fts" data-attr="href: '#'; title:@KEY_LNG.SearchTitle;" data-click="$mc.toggleActiveTab('fts')">&#160;</a>
	<a class="filter" data-attr="href: '#'; title:@KEY_LNG.Filter" data-if="KEY_FEATURE.filter" data-class="filter-applied: @.l.tag_expression.length"  data-click="$mc.toggleActiveTab('filter')">&#160;</a>
	<div class="brs-holder">
	  <div class="brs_previous" data-if="@active_content != 'search' && @KEY_SEARCH_LOCATION == 'content'" data-attr="title:@KEY_LNG.Prev"><a id="browseSeqBackMobile" class="wBSBackButton" data-rhwidget="Basic" data-attr="href:.l.brsBack" data-css="visibility: @.l.brsBack?'visible':'hidden'">&nbsp;</a>
</div>
	  <div class="brs_next" data-if="@active_content != 'search' && @KEY_SEARCH_LOCATION == 'content'" data-attr="title:@KEY_LNG.Next"><a id="browseSeqNextMobile" class="wBSNextButton" data-rhwidget="Basic" data-attr="href:.l.brsNext" data-css="visibility: @.l.brsNext?'visible':'hidden'">&nbsp;</a>
</div>	  
	</div>	
</div>
<!-- Function bar with TOC/IDS/GLO/FILTER/FTS buttons -->
<div class="functionbar" data-css="width: sidebar_width | screen: 'desktop'" data-class="sidebar-opened: $mc.isSidebarTab(@KEY_ACTIVE_TAB); desktop-sidebar-hidden: @.l.desktop_sidebar_visible == false || @.l.desktop_sidebar_available === false; mobile-header-visible: @.l.mobile_header_visible">
	<div class="nav">
		<a class="toc" data-if="KEY_FEATURE.toc" data-class="active: @KEY_ACTIVE_TAB == 'toc'" data-click="$mc.toggleActiveTab('toc')" data-attr="title:@KEY_LNG.TableOfContents; href: '#'">&#160;</a>
		<a class="idx" data-if="KEY_FEATURE.idx" data-class="active: @KEY_ACTIVE_TAB == 'idx'" data-click="$mc.toggleActiveTab('idx')" data-attr="title:@KEY_LNG.Index; href: '#'">&#160;</a>
		<a class="glo" data-if="KEY_FEATURE.glo" data-class="active: @KEY_ACTIVE_TAB == 'glo'" data-click="$mc.toggleActiveTab('glo')" data-attr="title:@KEY_LNG.Glossary; href: '#'">&#160;</a>
		<a class="filter" data-if="KEY_FEATURE.filter" data-class="active: @KEY_ACTIVE_TAB == 'filter'; filter-applied: @.l.tag_expression.length"  data-click="$mc.toggleActiveTab('filter')" data-attr="title:@KEY_LNG.Filter; href: '#'">&#160;</a>
		<a class="fts" data-if="@KEY_SEARCH_LOCATION == 'tabbar'" data-class="active: @KEY_ACTIVE_TAB == 'fts'; search-sidebar: @KEY_SEARCH_LOCATION == 'tabbar'" data-click="$mc.toggleActiveTab('fts')" data-attr="title:@KEY_LNG.SearchTitle; href: '#'">&#160;</a>
	</div>
</div>
<!-- Table of contents -->
<div class="toc-holder left-pane" data-css="width: sidebar_width | screen: 'desktop'" data-class="desktop-sidebar-hidden: @.l.desktop_sidebar_visible == false || @.l.desktop_sidebar_available === false; search-sidebar: @KEY_SEARCH_LOCATION == 'tabbar'; search-content: @KEY_SEARCH_LOCATION == 'content'; layout-visible: @KEY_ACTIVE_TAB == 'toc'; drill-down: KEY_TOC_DRILL_DOWN; mobile-header-visible: @.l.mobile_header_visible; loading: !@EVT_TOC_LOADED">
	<ul class="toc" data-rhwidget="List: .p.toc" data-controller="TocController: toc" data-click="$toc.onClick(event)">
		<li data-rif="item.type === 'item' || item.type === 'remoteitem'" data-i-class="$toc.class(item)" data-class="inactive: @bookid != '#{@pid}'" data-childorder="#{childOrder}" data-rhtags="#{$toc.tags(item)}" data-itemid="#{@id}">
			<a data-itext="item.name" data-i-href="$toc.url(item, '#{@id}')"></a>
		</li>
		<li class="book" data-rif="item.type === 'book'" data-class="active: @bookid == '#{@id}'; inactive: @bookid != '#{@pid}' &amp;&amp; @bookid != '#{@id}'" data-childorder="#{childOrder}"
			data-itemkey="#{$toc.key(item.absRef, item.key)}" data-itemid="#{@id}" data-itemlevel="#{@level}" data-rhtags="#{$toc.tags(item)}">
			<a data-itext="item.name" data-i-href="$toc.url(item, '#{@id}')"></a>
		</li>
		<li class="child max-height-transition" data-rif="item.key" data-class="show: @show_child#{@id}" data-childorder="#{childOrder}">
		  <ul class="child" data-child="$toc.key(item.absRef, item.key)"></ul>
		</li>
	</ul>
</div>
<!-- Index -->
<div class="idx-holder left-pane" data-css="width: sidebar_width | screen: 'desktop'" data-class="desktop-sidebar-hidden: @.l.desktop_sidebar_visible == false || @.l.desktop_sidebar_available === false; layout-visible: @KEY_ACTIVE_TAB == 'idx'; mobile-header-visible: @.l.mobile_header_visible">
	<div id="idx" class="wIndex">
		<input class="wIdxFilter" id="idxFilterBox" type="text" data-placeholder="Filter Keywords" onkeyup="filterIdx()" />
		
		
		
	</div>
</div>
<!-- Glossary -->
<div class="glo-holder left-pane" data-css="width: sidebar_width | screen: 'desktop'" data-class="desktop-sidebar-hidden: @.l.desktop_sidebar_visible == false || @.l.desktop_sidebar_available === false; layout-visible: @KEY_ACTIVE_TAB == 'glo'; mobile-header-visible: @.l.mobile_header_visible">
	<div id="glo" class="wGlossary">
		<input class="wGloFilter" id="gloFilterBox" type="text" data-placeholder="Filter Terms" onkeyup="filterGlo()" />
		
		
		
	</div>
</div>
<!-- Filter -->
<div class="filter-holder left-pane" data-css="width: sidebar_width | screen: 'desktop'" data-class="sidebar-opened: $mc.isSidebarTab(@KEY_ACTIVE_TAB); desktop-sidebar-hidden: @.l.desktop_sidebar_visible == false || @.l.desktop_sidebar_available === false; layout-visible: @KEY_ACTIVE_TAB == 'filter'; mobile-header-visible: @.l.mobile_header_visible; loading: !@KEY_MERGED_FILTER_KEY">
	<div class="mobile-filter-heading" data-if="KEY_SCREEN_PHONE">
		<a class="mobile_back" data-click="$mc.filterDone()" data-attr="title:@KEY_LNG.ApplyTip"></a>
		<div class="page-title" data-text="KEY_PROJECT_FILTER_CAPTION"></div>
		<a class="reset-button" data-attr="href: '#'; title: @KEY_LNG.Reset" data-click="$mc.setDefaultTagStates()" data-class="layout-visible: $mc.isTagStatesChanged(@KEY_TAG_EXPRESSION)"></a>
	</div>
	<p class="filter-title" data-if="(@KEY_SCREEN_TABLET || @KEY_SCREEN_DESKTOP) &amp;&amp; @KEY_MERGED_FILTER_KEY" data-text="KEY_PROJECT_FILTER_CAPTION"></p>
	<a class="reset-button" data-attr="href: '#'; title: @KEY_LNG.Reset" data-click="$mc.setDefaultTagStates()" data-class="layout-visible: $mc.isTagStatesChanged(@KEY_TAG_EXPRESSION)"></a>
	<ul class="wFltOpts" data-rhwidget="List:KEY_MERGED_FILTER_KEY" data-controller="FilterController: fc" data-click="$fc.click(event)"
	data-class="radio: @KEY_PROJECT_FILTER_TYPE == 'radio'; checkbox: @KEY_PROJECT_FILTER_TYPE == 'checkbox'">
		<li data-i-class="$fc.class(item)" data-itemkey="#{@path}" data-itemvalue="#{name}">
		  <input data-rif="$fc.inputType(item) == 'checkbox'" data-i-id="'filter#{@id}'" type="checkbox" data-i-value="#{@index}"/>
		  <input data-rif="$fc.inputType(item) == 'radio'" data-i-id="'filter#{@id}'" type="radio" data-i-name="'filter_name#{@pid}'" data-i-value="'#{@index}'"/>		  
		  <label data-i-for="'filter#{@id}'" data-i-title="item.display" data-itext="item.display" data-class="tag-parent: #{@itemkey}.children; checked: KEY_PROJECT_TAG_STATES#{@path}"></label>
		  <ul class="wFltOptsGrp" data-child="#{@itemkey}.children" data-rif="item.children"></ul>
		</li>
	 </ul>
</div>
<!-- Sidebar sizer -->
<div class="sidebarsizer left-pane boundry column-resize" data-if="@.l.desktop_sidebar_available === true" data-resize="@.l.desktop_sidebar_visible(@sidebar_width == null || @sidebar_width != '0px') | x: 'sidebar_width', maxx: 0.7, screen: 'desktop'" data-css="left: sidebar_width | screen: 'desktop', dir: 'ltr'; right: sidebar_width | screen: 'desktop', dir: 'rtl'" data-class="desktop-sidebar-hidden: @.l.desktop_sidebar_visible == false;">
	<a class="sidebartoggle" data-click="@sidebar_width(null) | screen: 'desktop'" data-toggle=".l.desktop_sidebar_visible" data-attr="title: @KEY_LNG.SidebarToggleTip">&nbsp;</a>
</div>
<!-- Search field -->
<div class="searchbar left-pane" data-css="width: sidebar_width | screen: 'desktop'" data-class="searchpage-mode, layout-visible: @KEY_ACTIVE_TAB == 'fts'; search-sidebar: @KEY_SEARCH_LOCATION == 'tabbar'; search-content: @KEY_SEARCH_LOCATION == 'content'; mobile-header-visible: @.l.mobile_header_visible">
	<!-- Since the following anchor is only visible in mobile mode, and mobile mode means search in content area, we directly change the ui mode -->
	<a class="mobile_back" data-click="@KEY_ACTIVE_TAB(null)" data-attr="title: @KEY_LNG.Back"></a>
	<input class="wSearchField" type="text" data-class="no-filter: !@KEY_FEATURE.filter" data-attr="placeholder: @KEY_LNG.Search"
	data-value="KEY_SEARCH_TERM" data-keyup="$mc.newSearch(node.value, event.keyCode, event)"/>
	<a class="wSearchLink" data-click="@EVT_SEARCH_TERM(true)" data-attr="href: '#'">&nbsp;</a>
	<a class="mobile_filter" data-if="KEY_FEATURE.filter" data-click="@KEY_ACTIVE_TAB('filter')" data-class="filter-applied: @.l.tag_expression.length" data-attr="title: @KEY_LNG.Filter"></a>
</div>
<!-- Search results -->
<div class="searchresults left-pane" data-css="width: sidebar_width | screen: 'desktop'; left: sidebar_width | screen: 'desktop', dir: 'ltr'; right: sidebar_width | screen: 'desktop', dir: 'rtl'" data-class="sidebar-opened: $mc.isSidebarTab(@KEY_ACTIVE_TAB); desktop-sidebar-hidden: @.l.desktop_sidebar_visible == false || @.l.desktop_sidebar_available === false; search-sidebar: @KEY_SEARCH_LOCATION == 'tabbar'; search-content: @KEY_SEARCH_LOCATION == 'content'; layout-visible: $mc.isSearchMode(@KEY_ACTIVE_TAB, @active_content); mobile-header-visible: @.l.mobile_header_visible" data-scroll="@.l.load_more_results(true) | debounce: 50, delta: 100">
	
	<label class="wSearchAndLabelResults" data-if="KEY_FEATURE.andsearch" for="andsearch" data-class="active: @KEY_AND_SEARCH == '1'">
		<span class="wSearchAND">Display results with all search words</span>
	</label>
	
	<div class="wSearchResults" id="searchresults">
		<div class="wSearchResultSettings rh-hide">
			<div class="wSearchHighlight">
				<input id="highlightsearch" type="checkbox" checked="" class="wSearchHighlight" onclick="onToggleHighlightSearch()" />
			</div>
		</div>
		<div class="wSearchMessage" data-if="!@EVT_SEARCH_IN_PROGRESS">
			<span id="searchMsg" class="wSearchMessage"></span> 
			 
		</div>
		<div data-class="loading: EVT_SEARCH_IN_PROGRESS" data-if="EVT_SEARCH_IN_PROGRESS"></div>
		<p class="progressbar" data-if="KEY_SEARCH_PROGRESS"><span data-text="KEY_SEARCH_PROGRESS"></span>%</p>
		<div class="wSearchResultItemsBlock" data-if="!@EVT_SEARCH_IN_PROGRESS">
			<div data-rhwidget="List: key: @.p.searchresults, spliton: index % @MAX_RESULTS == 14" data-config="loadmore: '.l.load_more_results', loaded: '.l.results_loaded'">
				<div class="wSearchResultItem">
					<a class="nolink" data-i-href="item.strUrl+@.p.searchresultparams">
						<div class="wSearchResultTitle" data-itext="item.strTitle"></div>
					</a>
					<div class="wSearchContent">
						<span class="wSearchContext" data-itext="item.strSummary"></span>
					</div>
					<div class="wSearchURL">
						<span class="wSearchURL" data-itext="item.strBreadcrumbs"></span>
					</div>
				</div>
			</div>
		</div>
		<div data-if="@.l.results_loaded && @.p.searchresults.length && !@EVT_SEARCH_IN_PROGRESS" class="wSearchResultsEnd">
			<span>End of search results.</span>
		</div>
	</div>
</div>
<!-- Extra search field for desktop -->
<div class="searchbar-extra" data-if="KEY_SCREEN_DESKTOP" data-mouseover="@mousein_searchbox(true)" data-mouseout="@mousein_searchbox(false)">
	<input class="wSearchField" type="text" data-class="searchpage-mode: @active_content == 'search'" data-attr="placeholder: @KEY_LNG.Search"
	data-focus="@focusin_searchbox(true)" data-blur="@focusin_searchbox(false)" data-value="KEY_SEARCH_TERM" data-keyup="$mc.newSearch(node.value, event.keyCode, event)"/>
	<a class="wSearchLink" data-click="@EVT_SEARCH_TERM(true)" data-attr="href: '#'">&nbsp;</a>
	<div class="searchAND" data-class="layout-visible: @mousein_searchbox || @focusin_searchbox || @focusin_andoption" data-if="KEY_FEATURE.andsearch">
		<input id="andsearch" type="checkbox" value="1" class="wSearchAND" data-checked="KEY_AND_SEARCH" data-focus="@focusin_andoption(true)" data-blur="@focusin_andoption(false)" />
		<label for="andsearch"><span class="wSearchAND">Display results with all search words</span></label>
	</div>
</div>
<!-- Topics -->
<div class="topic main" data-css="left: sidebar_width | screen: 'desktop', dir: 'ltr'; right: sidebar_width | screen: 'desktop', dir: 'rtl'" data-class="sidebar-opened: $mc.isSidebarTab(@KEY_ACTIVE_TAB); desktop-sidebar-hidden: @.l.desktop_sidebar_visible == false || @.l.desktop_sidebar_available === false; mobile-header-visible: @.l.mobile_header_visible">
	<div class="functionholder">
	  <div class="buttons">
		<div class="print"><a data-trigger="EVT_PRINT_TOPIC" class="print" data-attr="title:@KEY_LNG.Print; href: '#'">&#160;</a></div>
		<div class="brs_previous" data-attr="title:@KEY_LNG.Prev"><a id="browseSeqBack" class="wBSBackButton" data-rhwidget="Basic" data-attr="href:.l.brsBack" data-css="visibility: @.l.brsBack?'visible':'hidden'">&nbsp;</a>
</div>
		<div class="brs_next" data-attr="title:@KEY_LNG.Next"><a id="browseSeqNext" class="wBSNextButton" data-rhwidget="Basic" data-attr="href:.l.brsNext" data-css="visibility: @.l.brsNext?'visible':'hidden'">&nbsp;</a>
</div>
	  </div>
	</div>
	<div class="topic-state" data-class="loading: EVT_TOPIC_LOADING" data-if="EVT_TOPIC_LOADING"></div>
	<iframe class="topic" allowfullscreen="" name="rh_default_topic_frame_name"></iframe>
	<a class="to_top" data-trigger="EVT_SCROLL_TO_TOP" data-attr="title:@KEY_LNG.ToTopTip">&#160;</a> 
</div>
<!-- Social media buttons -->
<div class="social_buttons" data-if="@KEY_FEATURE.social === true && (@KEY_SCREEN_PHONE == false || (@KEY_SCREEN_PHONE == true && $mc.isSidebarTab(@KEY_ACTIVE_TAB) != true && $mc.isSearchMode(@KEY_ACTIVE_TAB, @active_content) != true && @KEY_ACTIVE_TAB != 'filter'))" data-class="opened: @.l.social_opened === true;">
	<a class="social_buttons_controller" href="javascript:rh.model.publish('l.social_opened', rh.model.get('l.social_opened') === true ? false : true)"></a>
	<div class="fb-button" data-if="KEY_FEATURE.facebook"><iframe id="bf-iframe" style="border:none; overflow:hidden;"></iframe></div>
	<div class="twitter-button" id="twitter-holder" data-if="KEY_FEATURE.twitter"></div>
</div>
<!-- Scripts -->
<script src="template/carriots_analytics/usersettings.js" type="text/javascript"></script>
<script>
if(useTwitter === true) {
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
}
</script>
<script type="text/javascript" src="whxdata/whtagdata.js"></script>
</body>
</html>